body {
  margin: 0;
  box-sizing: border-box;
  background: rgb(236, 236, 236);
}

.app {
  margin: 0 auto;
  padding: 10px 300px;
}  

img {
  max-width: 100%;
}

.shelves {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
}

.shelf {
  padding-top: 20px;
  position: relative;
  margin-bottom: 20px;
  max-width: 200px;
}

.comic {
  position: relative;
  padding: 10px;
}

.comic__art {
  position: absolute;
  top: 10%;
  left: 0;
  padding: 25px;
  box-sizing: border-box;
}

.figure {
  position: absolute;
  top: 30%;
}

.figure img {
  margin-top: 60px;
  height: 180px;
  width: 100%;
  object-fit: scale-down;
}

.double-panel {
  height: 900px !important;
  width: 400px !important;
  z-index: 1000;
}

.double-panel img {
  margin-top: -20px;
  height: 290px;
}